{% extends "layout.html" %}

{% block title %}
Live
{% endblock %}

{% block content_header %}
<div class="col-md-12">
  <h1>Live</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
        <div class="box-body">
            <div class="col-md-12" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <video id="video" controls autoplay="true" muted="true" playsinline="true" style="width: 75%;"></video>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    let video = document.getElementById('video');
    var hls;
    var session_token = uuidv4();
    var url_src = "";

    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    function createSource() {
        if (hls) { hls.destroy(); }
        hls = new Hls({
            debug: false, 
        });
        hls.attachMedia(video);
        session_token = uuidv4();
        url_src = '/playlist?uuid=' + session_token;
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log('video and hls.js are now bound together !');
            hls.loadSource(url_src);
            hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
                console.log(
                    'manifest loaded, found ' + data.levels.length + ' quality level'
                );
            });
        });
    }

    $(function () {
        if(Hls.isSupported()) {
            createSource();
        }
    });
</script>
{% endblock scripts %}

